#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {

            // |     K     |
            // |  Z  |  M  |

            bindings = <
                &kp C_PLAY_PAUSE
                &kp Z  &studio_unlock
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
 };