#include <physical_layouts.dtsi>

/ {
    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Default";

        transform = <&default_transform>;

        keys  //                     w   h    x    y     rot    rx    ry
            //** Insert your keyboard's physical layout here: 




            // Below are the key attributes for the MacroKnob
            //** Make sure to change the '=' for the knob key line below to ',' when you put your existing lines above.
            // Some adjustment of x and y values might be necessary to not clash with your existing keyboard in Studio
            //                       w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100  775    0       0     0     0>   // Knob key
            , <&key_physical_attrs 100 100  725  150       0     0     0>   // Left
            , <&key_physical_attrs 100 100  825  150       0     0     0>   // Right
            ;
    };
};
